-
  const menuList = [
    {
      name: 'Про нас',
      href: './about.html',
    },
    {
      name: 'Імміграція',
      href: './immigration.html',
    },
    {
      name: 'Рекрутинг',
      href: './recruiting.html',
    },
    {
      name: 'Партнерство',
      href: './partnership.html',
    },
    {
      name: 'Команда',
      href: './team.html',
    },
    {
      name: 'Кейси',
      href: './cases.html',
    },
    {
      name: 'Контакти',
      href: './contacts.html',
    }
  ];


header.header
  ._container
    .header__wrapper
      a.logo-link.header__logo(href='./index.html') 
        img(
          src=require('@/assets/img/logo.svg'),
          alt='logo',
          draggable='false'
        )

      nav.menu.header__menu
        ul.menu-list
          each item in menuList
            li.menu-list__item
              a.menu__link(href=`${item.href}`) #{ item.name }

      .header__buttons
        button.header__search.popup-open(data-popup='_popup-search')
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5.86381" cy="5.86393" r="5.24333" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            </circle>
            <path d="M9.51062 9.78296L11.5663 11.8333" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>

        ul.menu__lang.desktop
          li
            span.lang-item.lang-item-current eng
              img(
                src=require('@/assets/img/arrow-down.svg'),
                alt='language toggle'
              )

            ul
              li.lang-item.lang-item-1.lang-item-en.lang-item-first
                a(lang='rus-RU', hreflang='rus-RU', href='#1') ua

        button.menu-burger.popup-open(data-popup='_popup-menu')
          span

  include @/layout/popup.pug
