section.banner(data-animate='clip-path')
  .banner-slider.swiper
    .swiper-wrapper
      .swiper-slide
        .banner-bg
          .banner-bg__media
            img.desktop(src=require('@/assets/img/banner.jpg'), alt='banner')
            img.mobile(
              src=require('@/assets/img/banner-mobile.jpg'),
              alt='banner'
            )

        ._container.banner__container
          .banner__wrapper
            .banner-slider__item
              h1.banner__title!= 'Імміграція <br/>і легалізація'

              p.banner__subtitle Ми знаємо як зроби процес імміграції легким і приємним

              a.banner__button.button-light(
                href='./immigration.html',
                target='_blank',
                rel='noreferrer'
              ) 
                span Докладніше

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 13L18.17 13L15.59 15.59L17 17L22 12L17 7L15.59 8.41L18.17 11L2 11L2 13Z" fill="white"/>
                </svg>

      .swiper-slide
        .banner-bg
          .banner-bg__media
            img.desktop(src=require('@/assets/img/banner-2.jpg'), alt='banner')
            img.mobile(
              src=require('@/assets/img/banner-2-mobile.jpg'),
              alt='banner'
            )

        ._container.banner__container
          .banner__wrapper
            .banner-slider__item
              h1.banner__title!= 'Рекрутинг <br/>і адаптація'

              p.banner__subtitle Ми знаємо як швидко знайти працівника і роботодавця

              a.banner__button.button-light(
                href='./recruting.html',
                target='_blank',
                rel='noreferrer'
              ) 
                span Докладніше

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 13L18.17 13L15.59 15.59L17 17L22 12L17 7L15.59 8.41L18.17 11L2 11L2 13Z" fill="white"/>
                </svg>

  .banner-slider-controls
    .banner-slider-pagination pagination
