-
  const newsSectionList = [
    {
      image: '@/assets/img/news/news-1.jpg',
      date: {
        datatime: '2023-07-22',
        title: '22.07.2023'
      },
      title: 'Persona Patman провела зустріч з компаніями-членами Латвійської торгово-промислової палати з метою обговорення потреб латвійських компаній в рекрутингових послугах',
      description: 'У липні-серпні 2023 року менеджери Persona Patman провели серію зустрічей з компаніями-членами',
      href: './news-article.html'
    },
    {
      image: '@/assets/img/news/news-2.jpg',
      date: {
        datatime: '2023-07-22',
        title: '22.07.2023'
      },
      title: 'Persona Patman підписала контракт на пошук спеціалістів-мігрантів для компанії SIA “Saukas Kudra” яка є найбільшим видобувальником торфу в Латвії.',
      description: 'У червні 2023 року  Persona Patman і компанія SIA “Saukas Kudra” домовились на сезонній основі',
      href: './news-article.html'
    },
    {
      image: '@/assets/img/news/news-3.jpg',
      date: {
        datatime: '2023-07-22',
        title: '22.07.2023'
      },
      title: 'Приклад заголовку новин Назва новини номер 3',
      description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been',
      href: './news-article.html'
    },
  ];

section.news-section
  ._container
    .news-section__wrapper
      .news-section__header
        h2.news-section__title Новини та події

        a.button-dark.desktop.news-section__button(href='./news.html')
          span Усі новини
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 13L18.17 13L15.59 15.59L17 17L22 12L17 7L15.59 8.41L18.17 11L2 11L2 13Z" fill="white">
            </path>
          </svg>

      ul.news-list
        each item in newsSectionList
          li.news-list__li
            a.news-list__item(href=`${item.href}`)
              span.news-list-img
                span.news-list-img__decoration(aria-hidden='true')
                  img(
                    src=require('@/assets/img/star.svg'),
                    alt='decoration',
                    draggable='false'
                  )

                span.news-list-img__content
                  span.news-list-img__container
                    img(
                      src=require(`${item.image}`),
                      alt=`${item.title}`,
                      loading='lazy'
                    )

              h3.news-list__title!= item.title

              span.news-list__description!= item.description

              span.news-list-more.link-more
                span.link-more__text Детальніше

                span.link-more__label
                  img(
                    src=require('@/assets/img/arrow-more.svg'),
                    alt='possibilities-details',
                    draggable='false'
                  )

      .news-section__footer
        a.button-dark.news-section__button(href='./news.html')
          span Усі новини
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 13L18.17 13L15.59 15.59L17 17L22 12L17 7L15.59 8.41L18.17 11L2 11L2 13Z" fill="white">
            </path>
          </svg>
