-
  const newsSectionList = [
    {
      image: '@/assets/img/news/news-1.jpg',
      title: 'Приклад заголовку новин Назва новини номер 1',
      description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...',
      href: '#'
    },
    {
      image: '@/assets/img/news/news-2.jpg',
      title: 'Приклад заголовку новин Назва новини номер 2',
      description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...',
      href: '#'
    },
    {
      image: '@/assets/img/news/news-3.jpg',
      title: 'Приклад заголовку новин Назва новини номер 3',
      description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...',
      href: '#'
    },
  ];

section.news-section
  ._container
    .news-section__wrapper
      h2.news-section__title Новини та події

      ul.news-list
        each item in newsSectionList
          li.news-list__li
            a.news-list__item(href=`${item.href}`)
              span.news-list-img
                span.news-list-img__decoration(aria-hidden='true')
                  img(
                    src=require('@/assets/img/star.svg'),
                    alt='decoration',
                    draggable='false'
                  )

                span.news-list-img__content
                  span.news-list-img__container
                    img(src=require(`${item.image}`), alt=`${item.title}`)

              h3.news-list__title!= item.title

              span.news-list__description!= item.description

              span.news-list-more.link-more
                span.link-more__text Детальніше

                span.link-more__label
                  img(
                    src=require('@/assets/img/arrow-more.svg'),
                    alt='possibilities-details',
                    draggable='false'
                  )
